<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
</head>
<body>
	<div th:if="${user}">
		<nav th:replace="fragmentos/plantilla :: navbar-user"></nav>
	</div>
	<div th:if="${anonimo}">
		<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>
	</div>


	<br />
	<div class="container">


	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>username</th>
				<th>password</th>
				<th>nombre</th>
				<th>fecha de nacimiento</th>
				<th>foto de perfil</th>
				<th>email</th>
				<th>ocupacion</th>
				<th>genero</th>
				<th>municipio</th>
				<th>departamento</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<th> <span th:text="${usuario.id}"> </span> </th>
				<th><span th:text="${usuario.username}"> </span></th>
				<th><span th:text="${usuario.password}"> </span></th>
				<th><span th:text="${usuario.nombre}"> </span></th>
				<th><span th:text="${usuario.fecha_nacimiento}"> </span></th>
				<th><span th:text="${usuario.foto_perfil}"> </span></th>
				<th><span th:text="${usuario.email}"> </span></th>
				<th><span th:text="${usuario.ocupacion}"> </span></th>
				<th><span th:text="${usuario.genero}"> </span></th>
				<th><span th:text="${usuario.municipio.nombre_municipio}"> </span></th>
				<th><span th:text="${usuario.biblioteca.nombre_biblioteca}"> </span></th>
			</tr>
		</tbody>
	</table>



	</div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>
