<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title, links)">
<meta charset="UTF-8" />
<title th:replace="${title}"></title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/regular.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/solid.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/bib404/plantilla.css}" />

<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />

<script src="js/deshabilitar.js"></script>
<th:block th:replace="${links}" />

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar-anonimo">
		<div class="container">
			<a class="navbar-brand" th:href="${urlHome}"><span
				th:text="${name_bib}"></span> <i class="fas fa-book-reader"></i></a>
			<button class="navbar-toggler collapsed" type="button"
				data-toggle="collapse" data-target="#navbarsBib404"
				aria-controls="navbarsBib404" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbarsBib404" style="">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href=""
						data-toggle="modal" data-target="#modalLogin">Login <i
							class="fas fa-door-open"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/usuarios/registrarse}">Registrarse <i
							class="fas fa-user-plus"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar-user">
		<div class="container">
			<a class="navbar-brand text-bold" th:href="${urlHome}"><span
				th:text="${name_bib}"></span> <i class="fas fa-book-reader"></i></a>
			<button class="navbar-toggler collapsed" type="button"
				data-toggle="collapse" data-target="#navbarsBib404"
				aria-controls="navbarsBib404" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbarsBib404" style="">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/DashBoard/admin}">DashBoard <i
							class="fas fa-toolbox"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/autorizar/listPrestamos}">Administrar Prestamos <i
							class="fas fa-book"></i></a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle text-bold" href="#"
						id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">User <i class="fas fa-user"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownUser">

							<a class="dropdown-item" th:href="@{/}">Regresar a la pestaña
								de inicio</a><a class="dropdown-item" th:href="@{/digitales}">Mis
								Digitales</a> <a class="dropdown-item" th:href="@{/usuarios/logout}">Cerrar
								Sesión</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>
	

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar-admin">
		<div class="container">
			<header id="header" class="alt">
				<a href="#menu">Menu BIB404</a>
			</header>
			<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/" th:href="@{/bib404/gestionar_admin}">Administradores de bibliotecas</a></li>
					<li><a href="/">Bibliotecas en el sistema</a></li>
					<li><a th:href="@{/solicitar/recibir}">Solicitudes de bibliotecas</a></li>
					<li><a th:href="@{/estadisicas/BIB404}">Estadisticas de bibliotecas</a></li>
				</ul>
			</nav>
			<div class="navbar-collapse collapse" id="navbarsBib404" style="">
				<ul class="navbar-nav ml-auto alt">
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/DashBoard/admin}">DashBoard <i
							class="fas fa-toolbox"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/autorizar/listPrestamos}">Administrar Prestamos <i
							class="fas fa-book"></i></a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle text-bold" href="#"
						id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">User <i class="fas fa-user"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownUser">
							<a class="dropdown-item" th:href="@{/perfil}">Perfil</a> <a
								class="dropdown-item" th:href="@{/digitales}">Mis Digitales</a>
							<a class="dropdown-item" th:href="@{/usuarios/logout}">Cerrar
								Sesión</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="row" th:fragment="titulo">
		<div class="col-sm-12">
		<h2 class="text-center">Cantidad total de bibliotecas en el sistema: <span th:text="${cantidad}"></span> </h2>
			<div class="form-inline">
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/estadisicas/BIB404/ultimasemana}">Ultima semana</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/estadisicas/BIB404/ultimomes}" >Ultimo mes</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/estadisicas/BIB404/ultimomes3}">Ultimos 3 meses</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" data-toggle="modal" data-target="#modalGrafica" href="">Personalizado</a>
				</div>
			</div>
		</div>
	</div>


	<div th:fragment="personal-graf">
		<div class="modal fade" id="modalGrafica" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Seleccione los parametros</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="get" th:action="@{/estadisicas/BIB404/personal}">
					<div class="modal-body">
						<div class="form-group">
							<div class="form-inline">
							<label>fecha inicio: </label>
							<input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" required="true" placeholder="fecha de inicio" min="1950-01-01" th:max="*{fecha_actual}" th:value="*{fecha_inicial}">
							</div>
							<div class="form-inline">
							<label>fecha final:</label>
							<input type="date" class="form-control" id="fecha_final" name="fecha_final" required="true" placeholder="fecha final" min="1950-01-01" th:max="*{fecha_actual}" th:value="*{fecha_actual}">
							</div>
							<div class="form-inline">
							<label>unidad de tiempo</label>
							<select class="form-control" required="true" id="opcion" name="opcion">
								<option value="">Seleccione</option>
								<option value="1">dias</option>
								<option value="5">semanas</option>
								<option value="12">meses</option>
							</select>
							</div>
						</div>
					</div>
					<div class="modal-footer">
					<input type="submit" value="aceptar" class="btn btn-success">
						<button type="button"
							class="btn btn-fill btn-danger btn-wd btn-sm"
							data-dismiss="modal">Cerrar</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>




	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar-admin-local">
		<div class="container">
			<header id="header" class="alt">
				<a href="#menu">Menu BIB404</a>
			</header>
			<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Estadisticas biblioteca</a></li>
					<li><a href="/">Administrar categoria</a></li>
					<li><a href="/presentacion">Historial biblioteca</a></li>
					<li><a href="/">Usuarios biblioteca</a></li>
					<li><a th:href="@{/recursos}">Recurso bibliotecario</a></li>
				</ul>
			</nav>
			<div class="navbar-collapse collapse" id="navbarsBib404" style="">
				<ul class="navbar-nav ml-auto alt">
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/DashBoard/admin}">DashBoard <i
							class="fas fa-toolbox"></i>
					</a></li>
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/autorizar/listPrestamos}">Administrar Prestamos <i
							class="fas fa-book"></i></a></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle text-bold" href="#"
						id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">User <i class="fas fa-user"></i></a>
						<div class="dropdown-menu" aria-labelledby="dropdownUser">
							<a class="dropdown-item" th:href="@{/perfil}">Perfil</a> <a
								class="dropdown-item" th:href="@{/digitales}">Mis Digitales</a>
							<a class="dropdown-item" th:href="@{/usuarios/logout}">Cerrar
								Sesión</a>
						</div></li>
				</ul>
			</div>
		</div>
	</nav>







	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="navbar-bib">
		<div class="container">
			<a class="navbar-brand text-bold" th:href="@{/}">BIB404 <i
				class="fas fa-book-reader"></i></a>
			<button class="navbar-toggler collapsed" type="button"
				data-toggle="collapse" data-target="#navbarsBib404"
				aria-controls="navbarsBib404" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-collapse collapse" id="navbarsBib404" style="">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link text-bold"
						th:href="@{/biblioteca}">Crear Biblioteca</a></li>


					<li th:if="${user2}" class="nav-item dropdown"><a
						class="nav-link dropdown-toggle text-bold" href="#"
						id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">User <i class="fas fa-user"></i></a>

						<div class="dropdown-menu" aria-labelledby="dropdownUser ">
							<a class="dropdown-item"
								th:href="@{/perfil?username=__${user.username}__}">Ver
								perfil</a> <a class="dropdown-item" th:href="@{/ver_digitales?id_user=__${user.id}__}">Mis Digitales</a> <a
								class="dropdown-item" th:href="@{/usuarios/logout}">Cerrar
								Sesión</a>
						</div></li>


					<li th:if="${anonimo}" class="nav-item"><a class="nav-link"
						href="" data-toggle="modal" data-target="#modalLogin">Login <i
							class="fas fa-door-open"></i>
					</a></li>
					<li th:if="${anonimo}" class="nav-item"><a class="nav-link"
						th:href="@{/usuarios/registrarse}">Registrarse <i
							class="fas fa-user-plus"></i></a></li>
			</div>

			</li>
			</ul>
		</div>
		</div>
	</nav>


	<div th:fragment="login">
		<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Iniciar sesion</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/usuarios/logcheck}" th:method="post">
							<div class="form-group">
								<label for="user">usuario</label> <input type="text"
									class="form-control" id="username" name="username"
									aria-describedby="username" placeholder="ingrese su usuario">
								<small id="emailHelp" class="form-text text-muted">Ingrese
									su usuario</small>
							</div>
							<div class="form-group">
								<label for="password1">Password</label> <input type="password"
									class="form-control" id="password" name="password"
									placeholder="Password">
							</div>
							<button type="submit" class="btn btn-fill btn-info btn-wd btn-sm">Entrar</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button"
							class="btn btn-fill btn-danger btn-wd btn-sm"
							data-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="bg-dark p-4" th:fragment="footer">
		<p class="text-center m-0 text-bold text-white">BIB404 2018</p>
	</footer>

	<div th:fragment="scripts">
		<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="#" th:src="@{/js/fontawesome.min.js}"></script>
		<script src="#" th:src="@{/js/regular.min.js}"></script>
		<script src="#" th:src="@{/js/solid.min.js}"></script>

		<script src="#" th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script src="#" th:src="@{/js/skel.min.js}"></script>
		<script src="#" th:src="@{/js/util.js}"></script>
		<script src="#" th:src="@{/js/main.js}"></script>
	</div>
</body>
</html>
