<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
    <meta charset="utf-8"/>
    <title>Detalles del recurso</title>
 	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />
	<link rel="stylesheet" href="#" />
	</head>
  <body>
	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>
	<div class="container">	
		<h1>Detalles del recurso</h1>
		<br/>			 
			<table class="table" border="2">
				<thead class="thead">
					<tr>
						<th>Imagen</th>
						<th>Descripcion del recurso</th>
					</tr>
				</thead>
				<tbody>
					<tr >
                        <td th:text="${recursoBib.imagen_recurso_bibl}"></td>
						<td th:text="${recursoBib.descripcion_recurso_bib}"></td>
					</tr>												
				</tbody>
			</table>
			<table class="table" border="2">
				<thead class="thead">
					<tr>
						<th>Formato</th>
						<th>Codigo</th>
						<th>Autor</th>
						<th>Edicion</th>
						<th>Editorial</th>
						<th>Volumen</th>
						<th>Consulta</th>
						<th>Estado</th>
						<th>Accion</th>
					</tr>
				</thead>
				<div th:each="recursoEspecifico : ${recursosEspecificos}">
				<tbody>
					<tr>
                        <td th:text="${recursoEspecifico.formato_recurso.nombre_formato}"></td>
						<td th:text="${recursoEspecifico.codigo_rec_esp}"></td>
						<td></td>
						<td th:text="${recursoEspecifico.edicion_recurso}"></td>
						<td th:text="${recursoEspecifico.editorial}"></td>
						<td th:text="${recursoEspecifico.volumen_recurso}"></td>
						<td th:text="${recursoEspecifico.consulta_interna}==true ? 'interna' : 'externa'"></td>		
						<td th:text="${recursoEspecifico.prestado}==true ? 'no disponible' : 'disponible'"></td>														
						<td>					
						    <a class="btn btn-danger" th:href="@{/recursoBibliotecario/prestarRecurso?id=__${recursoEspecifico.id}__}" >
						        PRESTAR
							</a>
						</td>				
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>