<!DOCTYPE html>
<html>

<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
  <title th:text="${titulo}"></title>

  <link rel="stylesheet" href="#" />
</head>

<body>
  <nav th:replace="fragmentos/plantilla :: navbar-admin"></nav>


  <div class="container">
    <h1 class="text-center">
      Gesionar Bibliotecas de BIB404
    </h1>
    <hr>
    <div class="row d-flex justify-content-end">
      <div class="col-6 d-flex justify-content-end offset-6">
        <form th:action="${buscarBiblioteca}" method="GET" class="w-100">
          <div class="input-group mb-3">
            <input type="text" name="str" class="form-control" placeholder="nombre o codigo biblioteca" aria-describedby="btnSearch"
              required>
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" id="btnSearch">Buscar</button>
            </div>
          </div>
        </form>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-12 h2 text-center">Listado de Biblitecas en el sistema</div>
    </div>
    <hr>
    <div class="row">
      <div th:if="${exito}" class="col-12">
        <p class="m-0 alert alert-success text-center font-weight-bold" th:text="${exito}"></p>
      </div>
      <div th:if="${fracaso}" class="col-12">
        <p class="m-0 alert alert-danger text-center font-weight-bold" th:text="${fracaso}"></p>
      </div>
    </div>
    <div th:if="${bibliotecas}" class="row">
      <div th:each="biblioteca:${bibliotecas}" class="col-12 my-3">
        <div class="row d-flex justify-content-center">
          <div class="col-8 rounded bg-success">
            <div class="row">
              <div class="col-12">
                <p>Nombre de la biblioteca:
                  <span class="font-weight-bold" th:text="${biblioteca.nombre_biblioteca}"></span>
                </p>
              </div>
              <div class="col-12">
                <p>Codigo de la bilioteca:
                  <span class="font-weight-bold" th:text="${biblioteca.codigo_biblioteca}"></span>
                </p>
              </div>
              <div class="col-12">
                <p>Municipio:
                  <span th:text="${biblioteca.municipio.nombre_municipio}"></span>
                </p>
              </div>
              <div class="col-12">
                <p>Fecha registro:
                  <span th:text="${biblioteca.fecha_registro}"></span>
                </p>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <form action="#" th:action="${borrarBiblioteca}" method="post" th:object="${objectAux}" class="row">
                      <select th:field="*{id_object}" class="d-none">
                        <option th:value="${biblioteca.id}"></option>
                      </select>
                      <input type="submit" name="" value="Eliminar" class="btn btn-danger col-12">
                    </form>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-warning w-100" data-toggle="modal" th:data-target="'#bib'+${biblioteca.id}">Editar</button>
                    <div class="modal" th:id="'bib'+${biblioteca.id}" tabindex="-1" role="dialog" aria-hidden="true" th:aria-labelledby="'bil'+${biblioteca.id}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" th:id="'bil'+${biblioteca.id}">Editando Biblioteca</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <form action="#" th:action="${editarBiblioteca}" th:object="${bibModel}" method="post" th:id="'form'+${biblioteca.id}">
                              <input type="hidden" th:value="${biblioteca.id}" th:name="id">
                              <div class="form-group">
                                <label>Nombre de la biblioteca: </label>
                                <input required type="text" placeholder="nombre de biblioteca" class="form-control" th:name="nombre_biblioteca" th:value="${biblioteca.nombre_biblioteca}">
                              </div>
                              <div class="form-group">
                                <label>Codigo de la bibliteca: </label>
                                <input required type="text" placeholder="nombre de biblioteca" class="form-control" th:name="codigo_biblioteca" th:value="${biblioteca.codigo_biblioteca}">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <div class="row">
                              <div class="col-6">
                                <button type="submit" class="btn btn-primary" th:form="'form'+${biblioteca.id}">Modificar Biblioteca</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:if="${bibCero}" class="alert alert-info font-weight-bold text-center">No hay ninguna biblioteca registrada en el sistema
    </div>
  </div>



  <footer th:replace="fragmentos/plantilla :: footer"></footer>
  <div th:replace="fragmentos/plantilla :: login"></div>
  <div th:replace="fragmentos/plantilla :: scripts"></div>
</body>