<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>historial</title>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
<meta charset="utf-8" />
<nav th:replace="fragmentos/plantilla :: navbar-admin-local"></nav> 
  <hr>
  <br>
  <br>
<title>Historial de la biblioteca</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/regular.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/solid.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/bib404/plantilla.css}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />



</head>
</head>
<body>
	<div class="col-sm-12">
		<h2 class="text-center">Historial de la biblioteca</span> </h2>
			<div class="form-inline">
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/hoy}">hoy</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/ayer}" >ayer</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/semana}">Esta Semana</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/personalizar}">Personalizar</a>
				</div>
			</div>

		</div>


<div class="container" th:if="${exito}">
	<p class="m-0 alert alert-success text-center font-weight-bold"
					th:text="${mensaje}"></p>
	<table class="table table-condensed" id="tblCuentasBD" style="text-align: center;" >
					<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Username</th>
							<th scope="col">fecha de registro</th>
							
							
						</tr>
						</thead>
					
					<tbody>
						
								<tr th:each="usuarioList : ${usuarios}">
									<td th:text="${usuarioList.id}"></td>
									<td th:text="${usuarioList.username}"></td>
									<td th:text="${usuarioList.fecha_registro}"></td>
								
									
									
		
									
			
								</tr>
		
								
			
						</tbody>
						</table>
						<hr>
												
						<p class="m-0 alert alert-success text-center font-weight-bold"
					th:text="${mensaje2}"></p>
						
							<table class="table table-condensed" id="tblCuentasBD" style="text-align: center;" >
					<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">nombre de la categoria</th>
							<th scope="col">fecha de registro</th>
							
							
						</tr>
						</thead>
					
					<tbody>
						
								<tr th:each="categoriaList : ${categorias}">
									<td th:text="${categoriaList.id}"></td>
									<td th:text="${categoriaList.nombre_categoria}"></td>
									<td th:text="${categoriaList.createdAt}"></td>
								
									
									
		
									
			
								</tr>
		
								
			
						</tbody>
						</table>
						
						</div>




<div>
	<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="#" th:src="@{/js/fontawesome.min.js}"></script>
		<script src="#" th:src="@{/js/regular.min.js}"></script>
		<script src="#" th:src="@{/js/solid.min.js}"></script>
		<script src="#" th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script src="#" th:src="@{/js/skel.min.js}"></script>
		<script src="#" th:src="@{/js/util.js}"></script>
		<script src="#" th:src="@{/js/main.js}"></script>
		<script src="#" th:src="@{/js/deshabilitar.js}"></script>
	
	
	</div>

</body>
</html>