<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>historial</title>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
<meta charset="utf-8" />
<nav th:replace="fragmentos/plantilla :: navbar-admin-local"></nav> 
  <hr>
  <br>
  <br>
<title>Historial de la biblioteca</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/regular.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/solid.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/bib404/plantilla.css}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />



</head>
</head>
<body>
	<div class="col-sm-12">
		<h2 class="text-center">Historial de la biblioteca</span> </h2>
			<div class="form-inline">
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/hoy}">hoy</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/ayer}" >ayer</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/semana}">Esta Semana</a>
				</div>
				<div class="col-sm-3">
					<a class="btn btn-info" th:href="@{/personalizar}">Esta Semana</a>
				</div>
			</div>

		</div>


<div class ="container"> 


</div>





<div>
	<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="#" th:src="@{/js/fontawesome.min.js}"></script>
		<script src="#" th:src="@{/js/regular.min.js}"></script>
		<script src="#" th:src="@{/js/solid.min.js}"></script>
		<script src="#" th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script src="#" th:src="@{/js/skel.min.js}"></script>
		<script src="#" th:src="@{/js/util.js}"></script>
		<script src="#" th:src="@{/js/main.js}"></script>
		<script src="#" th:src="@{/js/deshabilitar.js}"></script>
	
	
	</div>

</body>
</html>