<!DOCTYPE html>
<html>

<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>

	<link rel="stylesheet" href="#" />
</head>

<body>
	<div th:if="${isUser}">
		<nav th:replace="fragmentos/plantilla :: navbar-user"></nav>
	</div>
	<div th:if="${isNoUser}">
		<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>
	</div>
	<!-- <div class="" th:replace="fragmentos/plantilla :: navbar-admin-local"></div>
	<br /> -->
	<div class="container">
		<h1 class="text-center">
			Administrar Categoria de
			<span th:text="${name_bib}"></span>
		</h1>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-4">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#crearCategoria">Crear Categoria</button>
					</div>
					<div class="modal" id="crearCategoria" tabindex="-1" role="dialog" aria-labelledby="crearCategoriaLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="crearCategoriaLabel">Nueva Categoria
									</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form action="#" th:action="${crearCategoria}" th:object="${categoriaModel}" method="post" id="formCrearCategoria">
										<div class="form-group">
											<label>Nombre de la categoria: </label>
											<input type="text" placeholder="nombre de categoria" class="form-control" th:field="*{nombre_categoria}">
										</div>
										<div class="form-group">
											<label>Descripcion categoria: </label>
											<textarea rows="3" cols="" class="form-control" th:field="*{descripcion_categoria}"></textarea>
										</div>
										<div class="form-group">
											<label>(Opcional)Categoria Padre </label>
											<select th:field="*{categoria_id}" class="form-control">
												<option value="0">categoria padre</option>
												<div th:each="categoria:${listCategorias}">
													<option th:value="${categoria.id}" th:text="${categoria.nombre_categoria}"></option>
												</div>
											</select>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<div class="row">
										<div class="col-6">
											<button type="submit" class="btn btn-primary" form="formCrearCategoria">Crear Categoria</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-6 offset-6">
						<form th:action="${buscarCategoria}" method="get">
							<div class="input-group mb-3">
								<input type="text" name="str" class="form-control" placeholder="buscar por nombre categoria" aria-describedby="btnSearch"
								 required>
								<div class="input-group-append">
									<button class="btn btn-outline-primary" type="button" id="btnSearch">Buscar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div th:if="${exito}" class="col-12">
				<p class="m-0 alert alert-success text-center font-weight-bold" th:text="${exito}"></p>
			</div>
			<div th:if="${fracaso}" class="col-12">
				<p class="m-0 alert alert-danger text-center font-weight-bold" th:text="${fracaso}"></p>
			</div>
		</div>
		<div th:if="${listCategorias}" class="row">
			<div th:each="categoria:${categorias}" class="col-12 my-3">
				<div class="row d-flex justify-content-center">
					<div class="col-8 rounded bg-success">
						<div class="row">
							<div class="col-12">
								<p> Nombre:
									<span th:text="${categoria.nombre_categoria}"></span>
								</p>
							</div>
							<div class="col-12">
								<p>Descripcion:
									<span th:text="${categoria.descripcion_categoria}"></span>
								</p>
							</div>
							<div  class="col-12">
								<p>categoria padre:
									<span th:text="${catService.findByID(categoria.categoria_id)!=null} ? ${catService.findByID(categoria.categoria_id).getNombre_categoria()} : 'no tiene categoria padre'"></span>
								</p>
							</div>
							<div class="col-12">
								<div class="row">
									<div class="col-6">
										<form action="#" th:action="${borrarCategoria}" method="post" th:object="${objectAux}" class="row">
											<select th:field="*{id_object}" class="d-none">
												<option th:value="${categoria.id}"></option>
											</select>
											<input type="submit" name="" value="Eliminar" class="btn btn-danger col-12">
										</form>
									</div>
									<div class="col-6 p-0">
										<button type="button" class="btn btn-warning w-100" data-toggle="modal" th:data-target="'#cat'+${categoria.id}">Editar</button>
										<div class="modal" th:id="'cat'+${categoria.id}" tabindex="-1" role="dialog" aria-hidden="true" th:aria-labelledby="'cal'+${categoria.id}">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" th:id="'cal'+${categoria.id}">Editando categoria</h5>
														<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
													</div>
													<div class="modal-body">
														<form action="#" th:action="${editarCategoria}" th:object="${categoriaModel}" method="post" th:id="'form'+${categoria.id}">
															<input type="hidden" th:value="${categoria.id}" th:name="id">
															<div class="form-group">
																<label>Nombre de la categoria: </label>
																<input required type="text" placeholder="nombre de categoria" class="form-control" th:name="nombre_categoria" th:value="${categoria.nombre_categoria}">
															</div>
															<div class="form-group">
																<label>Descripcion categoria: </label>
																<textarea required rows="3" cols="" class="form-control" th:name="descripcion_categoria" th:text="${categoria.descripcion_categoria}"></textarea>
															</div>
															<div class="form-group">
																<p>categoria padre:<span th:text="${catService.findByID(categoria.categoria_id)!=null} ? ${catService.findByID(categoria.categoria_id).getNombre_categoria()}:'no tiene categoria padre'"></span></p> 
																<label>(Opcional)Categoria Padre </label>
																<select th:field="*{categoria_id}" class="form-control">
																	<option th:value="${catService.findByID(categoria.categoria_id)!=null} ? ${catService.findByID(categoria.categoria_id).getId()}:0"
																	        th:text="${catService.findByID(categoria.categoria_id)!=null} ? ${catService.findByID(categoria.categoria_id).getNombre_categoria()}:'Escoger Categoria'" selected="selected"></option>
																	<div th:each="cat:${catService.listAllCategoriasSinCat(id_bib, categoria.id, categoria.categoria_id)}">
																		<option th:value="${cat.id}" th:text="${cat.nombre_categoria}"></option>
																	</div>
																	<option value="0" >Ninguna categoria</option>
																</select>
															</div>

														</form>
													</div>
													<div class="modal-footer">
														<div class="row">
															<div class="col-6">
																<button type="submit" class="btn btn-primary" th:form="'form'+${categoria.id}">Modificar Categoria</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:unless="${listCategorias}" class="alert alert-info font-weight-bold text-center">Esta biblioteca aun no tiene categorias
	</div>
	</div>

	<footer th:replace="fragmentos/plantilla :: footer"></footer>

	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>