<!DOCTYPE html>
<html>
  <head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
    <meta charset="utf-8"/>

    <title>Aceptar solicitud de bibliotecas</title>
	
	<link rel="stylesheet" href="#" />
 	
  </head>
  <body>
  	<nav th:replace="fragmentos/plantilla :: navbar-admin"></nav>
	<div class="container">
		<section class="bg-light" id="portfolio" style="margin-top:25px;">
      		<div class="container">
		      	<div class="row">
		          <div class="col-lg-12 text-center">
					<div th:if="${exito}">
						<h2 class="section-heading text-uppercase alert-success">Solicitud enviada con exito</h2>
					</div>
					<div th:if="${error}">
						<h2 class="section-heading text-uppercase alert-danger">Error en al enviar solicitud, intentelo de nuevo!!!!</h2>
					</div>
					<div th:if="${info}">
						<h2 class="section-heading text-uppercase alert-info">Esta a punto de crear este usuario para esta solicitud!!!!</h2>
					</div>
					<div th:if="${error_user}">
						<h2 class="section-heading text-uppercase alert-danger">Este usuario esta repetido, no se puede crear!!!!</h2>
					</div>
		            <h2 class="section-heading text-uppercase">Aceptar sollicitud</h2>
		          </div>
		          <div class="col-lg-12">
		          <br><br>
		          	<form action="" th:action="@{/solicitar/addBibUser}" th:objects="*{solicitudIntermedia}" method="post">
		          		<div class="form-inline">
		          			<label class="col-lg-4">ID solicitud: </label>
		          			<input type="number" th:value="${id}" required="required" id="id" name="id"  class="form-control col-lg-6" placeholder="Ingrese el nombre de la biblioteca" readonly="readonly">
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">Nombre Biblioteca: </label>
		          			<input type="text" th:value="${sol.nombre_biblioteca}" required="required" th:fields="*{nombre_biblioteca}" id="nombre_biblioteca" name="nombre_biblioteca"  class="form-control col-lg-6" placeholder="Ingrese el nombre de la biblioteca">
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">Municipio de biblioteca: </label>
		          			<select required="required" class="form-control  col-lg-6" id="mun" name="mun">
		          				<option th:value="${mun.id}" th:text="${mun.nombre_municipio}"></option>
		          			</select>
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">Usuario deseado: </label>
		          			<input type="text" required="required" th:fields="*{usuario}"  th:value="${sol.usuario}" name="usuario" id="usuario" class="form-control col-lg-6"  placeholder="Ingrese el nombre de la biblioteca">
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">Correo: </label>
		          			<input type="email" required="required" th:fields="*{correo}" name="correo" id="correo" class="form-control col-lg-6" th:value="${sol.correo}" placeholder="Ingrese el nombre de la biblioteca" readonly="readonly">
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">Posible contraseña: </label>
		          			<input type="text" required="required" th:fields="*{contra}" name="contra" id="contra" class="form-control col-lg-6" th:value="${pass}" placeholder="Ingrese el password" readonly="readonly">
		          		</div><br>
		          		<div class="form-inline">
		          			<label class="col-lg-4">codigo de la biblioteca: </label>
		          			<input type="text" required="required" th:fields="*{codigo_biblioteca}" name="codigo_biblioteca" id="codigo_biblioteca" class="form-control col-lg-6" th:value="${cod}" placeholder="Ingrese el nombre de la biblioteca" readonly="readonly">
		          		</div><br>
		          		<div class=" col-lg-12 text-center">
		          			<input type="submit" class="btn btn-success center" value="aceptar solicitud">
		          		</div>
		          	</form>
		          </div>
		        </div>
      		</div>
      	</section>
	</div>
	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>