<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
<title th:text="${titulo}"></title>

<link rel="stylesheet" href="#" />
</head>
<body> 
	<div th:if="${isUser}">
		<nav th:replace="fragmentos/plantilla :: navbar-user"></nav>
	</div>
	<div th:if="${isNoUser}">
		<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>
	</div>
	

	<br />
	<div class="container">
		<h1 class="text-center">
			Usuarios de la Biblioteca: <span th:text="${name_bib}"></span>
		</h1>
	</div>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-4">
						<a class="btn btn-success" th:href="@{/usuarios/registrarse}">
							Crear Usuario</a>
					</div>
					<div class="modal" id="crearCategoria" tabindex="-1" role="dialog"
						aria-labelledby="crearCategoriaLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="crearCategoriaLabel">Nuevo
										Usuario</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<!--  
								<div class="modal-body">
									<form action="#" th:action="${crearCategoria}"
										th:object="${categoriaModel}" method="post"
										id="formCrearCategoria">
										<div class="form-group">
											<label>Nombre de la categoria: </label> <input type="text"
												placeholder="nombre de categoria" class="form-control"
												th:field="*{nombre_categoria}">
										</div>
										<div class="form-group">
											<label>Descripcion categoria: </label>
											<textarea rows="3" cols="" class="form-control"
												th:field="*{descripcion_categoria}"></textarea>
										</div>
 										<div class="form-group">
 											<label>(Opcional)Categoria Padre </label> <select th:field="*{idCatForanea}" class="form-control">
												<option value="-1">categoria padre</option>
 												<div th:each="categoria:${categorias}">
 													<option th:value="${categoria.id}"
														th:text="${categoria.nombre_categoria}"></option>
 												</div>
 											</select>
 										</div>
									</form>
								</div>
								<div class="modal-footer">
									<div class="row">
										<div class="col-6">
											<button type="submit" class="btn btn-primary"
												form="formCrearCategoria">Crear Categoria</button>
										</div>
									</div>
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="row">
					<div class="col-5 offset-7">
						<form action="">
							<input type="text" placeholder="buscar"> <input
								type="submit" value="buscar" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div th:if="${exito}" class="col-12">
				<p class="m-0 alert alert-success text-center font-weight-bold"
					th:text="${exito}"></p>
			</div>
		</div>
			<div class="row">
				<div th:each="usuario: ${usuarios}" class="col-12 my-3 bg-info">
						<div class="row">
							<div class="col-4">
								<p>imagen</p>
							</div>
							<div class="col-8">
								<div class="row">
									<div class="col-12">
											<strong>Usuario: </strong>
											<p th:text="${usuario.nombre}">Nombre de usuario:</p>
									</div>
									<div class="col-12">
										<strong>Zona Geografica: </strong>
										<p th:text="${usuario.municipio.nombre_municipio}"></p>
									</div>
									<div class="col-12">
										<div th:if="${usuario.enable}">
											<strong>Activo</strong>
											<!--  <input type="radio" name="" value=""> Si
  											<input type="radio" name="" value=""> No<br>-->
  										</div>
  										<div th:unless="${usuario.enable}">
											<strong>Inactivo</strong>
  										</div>
									</div>
									<!-- <div class="col-12">
										<p>Subcategaria?:</p>
									</div> -->
									<div class="col-12">
										<div class="row">
											<div th:if="${usuario.enable}" class="col-4">
												<a th:href="@{/desactivar_usuario?id=__${usuario.id}__&id_bib=__${usuario.biblioteca.id}__}" method="post"
												class="row">
													<input type="submit" name="" value="Desactivar" class="btn btn-warning col-12">
												</a>
											</div>
											<div th:unless="${usuario.enable}" class="col-4">
												<a th:href="@{/activar_usuario?id=__${usuario.id}__&id_bib=__${usuario.biblioteca.id}__}" method="post"
												class="row">
													<input type="submit" name="" value="Activar" class="btn btn-warning col-12">
												</a>
											</div>
											<div class="col-4">
												<a th:href="@{/eliminar_usuario?id=__${usuario.id}__&id_bib=__${usuario.biblioteca.id}__}" method="post"
												class="row">
													<input type="submit" name="" value="Eliminar" class="btn btn-danger col-12">
												</a>
											</div>
											<div class="col-4">
												<form class="row">
													<input type="submit" name="" value="Editar" class="btn btn-warning col-12">
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			
			<div th:unless="${usuarios}">Esta biblioteca no tiene
				usuarios
			</div>
			
	</div>

	<footer th:replace="fragmentos/plantilla :: footer"></footer>

	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>