<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />
	
	<link rel="stylesheet" href="#" />
</head>
<Style type="text/css">
  .ocultar{
  display: none
  }
  .boton {
  margin-top: 50px;
  margin-bottom: 10px;
  }
  .boton2 {
  margin-top: 50px;
  padding: 10px;
  }
  .boton3 {
  margin-bottom: 10px;
  }
  .buscador{
   float: right;
   margin-bottom: 10px;
  }
 </Style>
 <script type="text/JavaScript">
 function mostrar(){
	 document.getElementById("tabla1").style.display="block";
	 document.getElementById("tabla2").style.display="none";
	 document.getElementById("tabla3").style.display="none";
 }
 function mostrar2(){
	 document.getElementById("tabla2").style.display="block";
	 document.getElementById("tabla1").style.display="none";
	 document.getElementById("tabla3").style.display="none";
 }
 function mostrar3(){
	 document.getElementById("tabla3").style.display="block";
	 document.getElementById("tabla1").style.display="none";
	 document.getElementById("tabla2").style.display="none";
 }
  </script>
<body>
	
	<nav th:replace="fragmentos/plantilla :: navbar-user"></nav>

	<br />
	<div class="container">
		<h1 class="text-center">
			Autorizar y Recibir Prestamos de la Biblioteca: <span th:text="${name_bib}"></span>
		</h1>
		<div class="buscador">
        	<a href="#" th:href="@{/}">
        	<button class="btn btn-primary boton" type=button onclick="mostrar()">Regresar</button></a>
    		<a href="#" th:href="@{/autorizar/listDenegados?id_bib=__${bib}__}">
        	<button class="btn btn-primary boton" type=button onclick="mostrar()">Denegados/Recibidos</button></a>
    	</div>

	
		<!--<div class="buscador">
        		<form class="form-inline" method="GET" action="" id="busqueda">
                	<input class="buscador" name="consulta" id='consulta' type="text" placeholder="Buscar" value="">
                    <input type="submit" value="Buscar" id="buscar" class="btn btn-success buscador">
                </form>
         </div>-->
    <a href="#" th:href="@{/autorizar/listPrestamos?id_bib=__${bib}__}"><button class="btn btn-primary boton" type=button onclick="mostrar()">Autorizar Prestamos</button></a>
    <a href="#" th:href="@{/autorizar/listPrestados?id_bib=__${bib}__}"><button class="btn btn-primary boton" type=button onclick="mostrar2()">Recibir Prestamos</button></a>
    <a href="#" th:href="@{/autorizar/listPrestadosMora?id_bib=__${bib}__}"><button class="btn btn-primary boton" type=button onclick="mostrar3()">Prestamos con Mora</button></a>
	
<div th:if="${mensaje==2}" class="alert alert-info">
  	<strong>Prestamo Recibido</strong>
</div>

<section th:if="${prestado==1}">
<div th:if="${mensaje==3}" class="alert alert-danger">
  	<strong>No hay ningun prestamo</strong>
</div>
	<div th:if="${mensaje==0}" class="alert alert-success">
		<strong>Prestamo Autorizado</strong> 
	</div>
	<div th:if="${mensaje==1}" class="alert alert-danger">
  		<strong>Prestamo Denegado</strong>
	</div>
	<table class="table" border="2">
		<thead class="thead">
			<tr>
				<th>Usuario</th>
				<th>Nombre del Recurso</th>
				<th>Formato del Recurso</th>
				<th>Cantidad Recurso</th>
				<th>Fecha de prestamo</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.nombre_recurso_bib}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.formato_recurso.nombre_formato}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				
				<td> <a href="#" th:href="@{/autorizar/autorizado?id=__${prestamo.id}__&id_bib=__${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.biblioteca.id}__}">
				<button type="button" class="btn btn-success boton3">Autorizar</button></a>
				
				<p><a href="#" th:href="@{/autorizar/denegado?id=__${prestamo.id}__&id_bib=__${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.biblioteca.id}__}">
				<button type="button" class="btn btn-danger">Denegar</button></a></p> </td>
			</tr>
		</tbody>
	</table>
</section>
<section th:if="${prestado==2}">
<div th:if="${mensaje==3}" class="alert alert-danger">
  	<strong>No hay ningun prestamo</strong>
</div>
	<table class="table" border="2">
		<thead class="thead">
		
			<tr>
				<th>Usuario</th>
				<th>Nombre del Recurso</th>
				<th>Formato del Recurso</th>
				<th>Cantidad Recurso</th>
				<th>Fecha de prestamo</th>
				<th>Fecha de devolucion</th>
				<th>Mora</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.nombre_recurso_bib}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.formato_recurso.nombre_formato}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				<th><span th:text="${prestamo.fecha_devolucion}"> </span></th>
				<th><span th:text="${prestamo.mora}==true ? 'Con mora' : 'Sin mora'"> </span></th>

				<td> <a href="#" th:href="@{/autorizar/recibido?id=__${prestamo.id}__&id_bib=__${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.biblioteca.id}__}">
				<button type="button" class="btn btn-success boton3">Recibir</button></a></td>
			</tr>
		</tbody>
	</table>
</section>
<section th:if="${prestado==3}">
<div th:if="${mensaje==3}" class="alert alert-danger">
  	<strong>No hay ningun prestamo</strong>
</div>
	<table class="table" border="2">
		<thead class="thead">
			<tr>
				<th>Usuario</th>
				<th>Nombre del Recurso</th>
				<th>Formato del Recurso</th>
				<th>Cantidad Recurso</th>
				<th>Fecha de prestamo</th>
				<th>Fecha de devolucion</th>
				<th>Mora</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.nombre_recurso_bib}"> </span> </th>
				<th> <span th:text="${prestamo.recursoEspecifico.formato_recurso.nombre_formato}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				<th><span th:text="${prestamo.fecha_devolucion}"> </span></th>
				<th><span th:text="${prestamo.mora}==true ? 'Con mora' : 'Sin mora'"> </span></th>

				<td> <a href="#" th:href="@{/autorizar/recibidoMora?id=__${prestamo.id}__&id_bib=__${prestamo.recursoEspecifico.detalle_recurso.recurso_bib.biblioteca.id}__}">
				<button type="button" class="btn btn-success boton3">Recibir</button></a></td>
			</tr>
		</tbody>
	</table>
</section>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>