<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
	<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />
	
	<link rel="stylesheet" href="#" />
</head>
<Style type="text/css">
  .ocultar{
  display: none
  }
  .boton {
  margin-top: 50px;
  margin-bottom: 10px;
  }
  .boton2 {
  margin-top: 50px;
  padding: 10px;
  }
  .boton3 {
  margin-bottom: 10px;
  }
  .buscador{
   float: right;
   margin-bottom: 10px;
  }
 </Style>
 <script type="text/JavaScript">
 function mostrar(){
	 document.getElementById("tabla1").style.display="block";
	 document.getElementById("tabla2").style.display="none";
	 document.getElementById("tabla3").style.display="none";
 }
 function mostrar2(){
	 document.getElementById("tabla2").style.display="block";
	 document.getElementById("tabla1").style.display="none";
	 document.getElementById("tabla3").style.display="none";
 }
 function mostrar3(){
	 document.getElementById("tabla3").style.display="block";
	 document.getElementById("tabla1").style.display="none";
	 document.getElementById("tabla2").style.display="none";
 }
  </script>
<body>
	
	<nav th:replace="fragmentos/plantilla :: navbar-user"></nav>

	<br />
	<div class="container">
	<h2>AUTORIZAR PRESTAMO Y RECIBIR PRESTAMOS</h2>
		<div class="buscador">
        		<form class="form-inline" method="GET" action="" id="busqueda">
                	<input class="buscador" name="consulta" id='consulta' type="text" placeholder="Buscar" value="">
                    <input type="submit" value="Buscar" id="buscar" class="btn btn-success buscador">
                </form>
         </div>
          
    <a href="#" th:href="@{/autorizar/listPrestamos}"><button class="btn btn-primary boton" type=button onclick="mostrar()">Autorizar Prestamos</button></a>
    <a href="#" th:href="@{/autorizar/listPrestados}"><button class="btn btn-primary boton" type=button onclick="mostrar2()">Recibir Prestamos</button></a>
    <a href="#" th:href="@{/autorizar/listPrestadosMora}"><button class="btn btn-primary boton" type=button onclick="mostrar3()">Prestamos con Mora</button></a>

<div th:if="${mensaje==2}" class="alert alert-info">
  	<strong>Prestamo Recibido</strong>
</div>
<section th:if="${prestado==1}">
	<div th:if="${mensaje==0}" class="alert alert-success">
		<strong>Prestamo Autorizado</strong> 
	</div>
	<div th:if="${mensaje==1}" class="alert alert-danger">
  		<strong>Prestamo Denegado</strong>
	</div>
	<table class="table" border="2">
		<thead class="thead">
			<tr>
				<th>Usuario</th>
				<th>Libro</th>
				<th>Fecha de prestamo</th>
				<th>Fecha de entrega</th>
				<th>Datos del libro</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				<th><span th:text="${prestamo.fecha_entrega}"> </span></th>
				<th><span>codigo: 123 </span>
					<p><span>Autor: Disney </span></p></th>
				<td> <a href="#" th:href="@{/autorizar/autorizado}">
				<button type="button" class="btn btn-success boton3">Autorizar</button></a>
				<p><a href="#" th:href="@{/autorizar/denegado}">
				<button type="button" class="btn btn-danger">Denegar</button></a></p> </td>
			</tr>
		</tbody>
	</table>
</section>
<section th:if="${prestado==2}">
	<table class="table" border="2">
		<thead class="thead">
			<tr>
				<th>Usuario</th>
				<th>Libro</th>
				<th>Fecha de prestamo</th>
				<th>Fecha de entrega</th>
				<th>Fecha de devolucion</th>
				<th>Datos del libro</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				<th><span th:text="${prestamo.fecha_entrega}"> </span></th>
				<th><span th:text="${prestamo.fecha_devolucion}"> </span></th>
				<th><span>codigo: 123 </span>
					<p><span>Autor: Disney </span></p></th>
				<td> <a href="#" th:href="@{/autorizar/recibido}">
				<button type="button" class="btn btn-success boton3">Recibir</button></a></td>
			</tr>
		</tbody>
	</table>
</section>
<section th:if="${prestado==3}">
	<table class="table" border="2">
		<thead class="thead">
			<tr>
				<th>Usuario</th>
				<th>Libro</th>
				<th>Fecha de prestamo</th>
				<th>Fecha de entrega</th>
				<th>Fecha de devolucion</th>
				<th>Mora</th>
				<th>Datos del libro</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="prestamo: ${prestamos}">
				<th> <span th:text="${prestamo.usuario.nombre}"> </span> </th>
				<th><span th:text="${prestamo.cantidad_recurso_bib}"> </span></th>
				<th><span th:text="${prestamo.fecha_prestamo}"> </span></th>
				<th><span th:text="${prestamo.fecha_entrega}"> </span></th>
				<th><span th:text="${prestamo.fecha_devolucion}"> </span></th>
				<th><span th:text="${prestamo.mora}"> </span></th>
				<th><span>codigo: 123 </span>
					<p><span>Autor: Disney </span></p></th>
				<td> <a href="#" th:href="@{/autorizar/recibidoMora}">
				<button type="button" class="btn btn-success boton3">Recibir</button></a></td>
			</tr>
		</tbody>
	</table>
</section>
	</div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>