<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
<title th:text="${titulo}"></title>
<link rel="stylesheet" href="#" th:href="@{/css/font-awesome.css}" />
<link rel="stylesheet" href="#"
	th:href="@{/css/gsdk-bootstrap-wizard.css}" />
</head>
<body>
	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>
	<br />
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2" style="margin-left: 225px;">
				<div class="wizard-container">
					<div class="card wizard-card" data-color="azzure"
						id="wizardProfile">
						<div th:if="${error}">
							<div class="alert alert-danger" role="alert">
								<strong th:text="*{valor}"></strong>
							</div>
						</div>
						<div class="wizard-header">
							<h3>
								<b>Nueva biblioteca</b> <br> <small>Por favor complete la
									siguiente informacion</small>
							</h3>
						</div>
						<div class="col-sm-12" style="margin-left: 60px;">
							<form action="#" th:action="@{/addBib}"
								th:objects="*{biblioteca}" th:method="post">
								<div class="form-group row">
									<label for="user" class="col-sm-4 col-form-label">Nombre
										de la biblioteca:</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="nombre_biblioteca"
											name="nombre_biblioteca" th:fields="*{nombre_biblioteca}"
											placeholder="nombre de la biblioteca" required="true">
									</div>
								</div>
								<div class="form-group row">
									<label for="user" class="col-sm-4 col-form-label">Codigo
										de la biblioteca:</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="codigo_biblioteca"
											name="codigo_biblioteca" th:fields="*{codigo_biblioteca}"
											placeholder="codigo de la biblioteca" required="true">
									</div>
								</div>

								<div class="form-group row">
									<label for="mun" class="col-sm-4 col-form-label">Municipios</label> 
									<div class="col-sm-6">
										<select id="mun" name="mun" class="form-control" required="true">
											<option th:each="muni : ${municipios}" th:value="${muni.id}"
												th:text="${muni.nombre_municipio}"></option>
										</select>
									</div>
								</div>
								<button type="submit" class="btn btn-fill btn-info btn-wd btn-sm" style="margin-left: 250px;">Ingresar</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
	<script src="#" th:src="@{/js/jquery.bootstrap.wizard.js}"></script>
	<script src="#" th:src="@{/js/gsdk-bootstrap-wizard.js}"></script>
	<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
	<script src="#" th:src="@{/js/jquery.validate.min.js}"></script>
</body>
</html>