<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
</head>
<body>
	
 	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>

	<br />
	<div class="container">
		<p>Bienvenido/a usuario anonimo/a</span></p>
		<a th:href="@{/biblioteca}">Aqui puedes registrar biblioteca sin logearte</a>		
	</div>
	<div th:replace="fragmentos/plantilla :: login"></div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>