<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
</head>
<body>
	
	<nav th:replace="fragmentos/plantilla :: navbar-user"></nav> <!-- usuario ya loguiado -->
<!-- 	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav> -->

	<br />
	<div class="container">
		<p>Bienvenido/a a BIB404: <span th:text="${usuario.nombre}"></span></p>
	</div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>