<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
	<script src="js/deshabilitar.js"></script>
</head>

<body>
<nav th:replace="fragmentos/plantilla :: navbar-user"></nav> 

	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
	
<div class="container">
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
			<div class="form-group row">
			<div class="col-sm-4">
			    </div>
			    <label class="col-sm-2" for="user" > ingrese su password actual</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contra" name="contra" th:fields="*{password}" required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			<div class="col-sm-4">
			    </div>
			    <label class="col-sm-2" for="user" > ingrese su nueva contraseña</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contra" name="contranew" required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			<div class="col-sm-4">
			    </div>
			    <label class="col-sm-2" for="user" > confirmar contraseña</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contra" name="contranovo" required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			    <div class="col-4">
			    </div>
			    <div class="col-6">
			<div class="trans text-center">
			<span id="error" style="display:none"> error en la contraseña</span>
			<button type="submit" class="btn btn-primary center" id="editar" onclick="savePass()">Guardar cambios</button>
			</div>	
			</div>		
					 	</div>
		</div>
	
	
	
	<script type="text/javascript">
 
var serverContext = [[@{/}]];
function savePass(){
    var pass = $("#pass").val();
    var valid = pass == $("#passConfirm").val();
    if(!valid) {
      $("#error").show();
      return;
    }
    $.post(serverContext + "user/updatePassword",
      {password: pass, oldpassword: $("#oldpass").val()} ,function(data){
        window.location.href = serverContext +"/home.html?message="+data.message;
    })
    .fail(function(data) {
        $("#errormsg").show().html(data.responseJSON.message);
    });
}
</script> 
	
</body>
</html>
