<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
	<script src="js/deshabilitar.js"></script>
</head>

<body>
<nav th:replace="fragmentos/plantilla :: navbar-user"></nav> 

	<div th:replace="fragmentos/plantilla :: login"></div>
	<div th:replace="fragmentos/plantilla :: scripts"></div>
	<div th:if="${error}">
			<div class="alert alert-danger" role="alert">
			  <strong th:text="*{valor}" ></strong> 
			</div>
		</div>
	
<div class="container">
<form action="/addContra" th:method="post">
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	<div class="form-group row">
	</div>
	
			<div class="form-group row">
			<div class="col-sm-4">
			 <input type="text" class="form-control" id="username" name="username" th:value="${username}" required="false" hidden="true">   
			    </div>
			    <label class="col-sm-2" for="user" > ingrese su password actual</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contra" name="contra"  required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			<div class="col-sm-4">  
			    </div>
			    <label class="col-sm-2" for="user" > ingrese su nuevo password</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contranew" name="contranew"  required="true"  >
			    </div>
			    </div>
			     <div class="form-group row">
			<div class="col-sm-4">  
			    </div>
			    <label class="col-sm-2" for="user" > confirmar nuevo password</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contranovo" name="contranovo"  required="true"  >
			    </div>
			    </div>
			  <!--   <div class="form-group row">
			<div class="col-sm-4">
			    </div>
			    <label class="col-sm-2" for="user" > ingrese su nuevo password</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contranew" name="contranew" required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			<div class="col-sm-4">
			    </div>
			    <label class="col-sm-2" for="user" > confirmar password</label>
			    <div class="col-sm-2">
			      <input type="password" class="form-control" id="contranovo" name="contranovo" required="true"  >
			    </div>
			    </div>
			    <div class="form-group row">
			    <div class="col-4">
			    </div> -->
			    <div class="col-6">
			<div class="trans text-center">
			<span id="error" style="display:none"> error en la contraseña</span>
			<button type="submit" class="btn btn-primary center" id="editar" >Guardar cambios</button>
			</div>
			</div>
			
			</form>
				
					 	</div>
		
	
	
	
	
	
</body>
</html>
