<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
</head>
<body>
	
 	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav>

	<br />
	<div class="container">
		<h1>Formulario inicial, luego lo dejo mas bonito :v</h1>
		<div class="col-sm-10">
	
			<form action="#" th:action="@{/usuarios/addUser}" th:objects="*{usuario}" th:method="post" >
			  <div class="form-group row">
			    <label for="user" class="col-sm-2 col-form-label">Usuario:</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="username" name="username" th:fields="*{username}" placeholder="username" required="true">
			    </div>	
			  </div>
			  <div class="form-group row">
			    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			    <div class="col-sm-8">
			      <input type="password" th:fields="*{password}" class="form-control" id="password" name="password" placeholder="Password" required="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="nombre" class="col-sm-2 col-form-label">nombre</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" th:fields="*{nombre}" id="nombre" name="nombre" placeholder="nombre" required="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="apellido" class="col-sm-2 col-form-label">apellido</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" th:fields="*{apellido}" id="apellido" name="apellido" placeholder="apellido" required="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="email" class="col-sm-2 col-form-label">email</label>
			    <div class="col-sm-8">
			      <input type="email" class="form-control" th:fields="*{email}" id="email" name="email" placeholder="email" required="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label for="fechaNacimiento" class="col-sm-2 col-form-label">fechaNacimiento</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" th:fields="*{fechaNacimiento}" id="fechaNacimiento" name="fechaNacimiento" placeholder="fechaNacimiento" required="true">
			    </div>
			  </div>
			<div class="form-check">
			    <input type="checkbox" class="form-check-input" id="enable" name="enable" th:fields="*{enable}" hidden="true">			    
			    <input type="text" class="form-check-input" id="rol" name="rol" th:fields="*{rol}" hidden="true" value="USER_ROL">
			</div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>


	</div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>