<!DOCTYPE html>
<html>
<head th:replace="fragmentos/plantilla :: head(~{::title},~{::link})">
	<title th:text="${titulo}"></title>
	
	<link rel="stylesheet" href="#" />
</head>
<body>
	
	<nav th:replace="fragmentos/plantilla :: navbar-user"></nav> <!-- usuario ya loguiado -->
<!-- 	<nav th:replace="fragmentos/plantilla :: navbar-anonimo"></nav> -->

	<br />
	<div class="container">


	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>username</th>
				<th>password</th>
				<th>nombre</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario : ${usuarios}">
				<th> <span th:text="${usuario.id}"> </span> </th>
				<th><span th:text="${usuario.username}"> </span></th>
				<th><span th:text="${usuario.password}"> </span></th>
				<th><span th:text="${usuario.nombre}"> </span></th>
			</tr>
		</tbody>
	</table>



	</div>
	
	
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>
