.bg-dark{
	background-color:#122323 !important;
}

.nav-item{
	margin-left: 1em;
	font-weight: bold;
}

.nav-link{
	color:#ffffff !important;
	border-bottom: 2px solid #FF5722;
}
svg{
	color:#FFFFFF !important;
}
.card{
	box-shadow: 5px 10px #00796B;
}
hr{
	height: 5px;
	background: darkgreen;
}