<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gestionar recursos bibliotecarios</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/regular.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/solid.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/bib404/plantilla.css}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />
</head>
<body>
  <div class ="container">
  
  <ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Item 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Item 2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Item 3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Item 4</a>
  </li>
</ul>  
  
  
  </div>
  
  
  
  
	<div th:replace="fragmentos/plantilla :: scripts"></div>
</body>
</html>