<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gestionar recursos bibliotecarios</title>
<link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/fontawesome.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/regular.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/solid.min.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/main.css}" />
<link rel="stylesheet" href="#" th:href="@{/css/bib404/plantilla.css}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.min.js}" />
<link rel="stylesheet" href="#" th:href="@{/sweet/sweetalert.css}" />
</head>
<body>

  <div class ="container">
  
  <nav th:replace="fragmentos/plantilla :: navbar-admin-local"></nav> 
  <hr>
  <br>
  <br>
  <h1 class="text-center"> Gestionar Recursos bibliotecarios de la biblioteca <span th:text="${bib.nombre_biblioteca}"></span></h1>
  	<hr>
  	
			<button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#mdlGuardar" data-whatever="">Nuevo recurso</button>
		


		<div class="modal fade mdlGuardar" id="mdlGuardar" tabindex="-1" role="dialog" aria-labelledby="mdlGuardar" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="mdlGuardar">Nuevo Recurso</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
							<form action="#" th:action="@{/addRecurso}" th:objects="*{RecursoBibliotecario}" th:method="post" enctype="multipart/form-data">
						<div class="modal-body">
						<div class="form-group">

							</div>
							<div class="form-group">
							<div class="picture-container">
													<div class="picture">
														<img src="#" th:src="@{/imgs/libro.jpg}"
															class="picture-src" id="wizardPicturePreview" title="" />
														
														<input type="file" id="wizard-picture" name="wizard-picture" th:fields="*{imagen_recurso_bib}"> 
													</div>
													<h6>Recurso</h6>
												</div>
												</div>
							<div class="form-group">
								<label for="nombreRecurso" class="col-form-label">Nombre del recurso bibliotecario</label>
								<input type="text" class="form-control" id="nombre_recurso_bib" name="nombre_recurso_bib" th:fields="*{nombre_recurso_bib}"> 
							</div>
							
							<div class="form-group">
								<label for="descripcionRecurso" class="col-form-label">Descripcion del recurso</label>
								<textarea class="form-control" id="descripcion_recurso_bib" name="descripcion_recurso_bib" th:fields="*{descripcion_recurso_bib}" required="true"></textarea>
							</div>
							<div class="form-group">
								<label for="sinopsis" class="col-form-label">Sinopsis del recurso</label>
								<textarea class="form-control" id="sinopsis_recurso_bib" name="sinopsis_recurso_bib" th:fields="*{sinopsis_recurso_bib}" required="true"></textarea>
							</div>
						</div>
						
							<div class="form-group">
							<label for="bib" class="col-form-label">biblioteca</label>
				<input type="text" class="form-control" id="bib" name="bib" th:value="${bib.nombre_biblioteca}" disabled>
			    
							</div>	
												<div class="form-group">
							<label for="forRecurso" class="col-form-label">Es digital o fisico</label>
								<select id="forRecurso" name="forRecurso"  class="form-control" required="true" >
			         <option th:each="forRecurso : ${tipDF}" 
			        	th:value="${forRecurso.id}"
			        	th:text="${forRecurso.tipo}"
			        
 ></option>			      </select>
							</div>
					
							<div class="form-group">
								<label for="Total" class="col-form-label">cantidad </label>
								<input type="number" class="form-control" id="total_recurso_bib" name="total_recurso_bib" th:fields="*{total_recurso_bib}" min="1" step="1" required="true"> 
								<span id="total_recurso_bib"></span>
							</div>
							
							<div class="form-group">
								  	<label for="inputState" class="col-sm-2 col-form-label">tipo de recurso</label>
			      <select id="tipoR" name="tipoR"  class="form-control" required="true" >
			        <option th:each="tipoR : ${TipoRecurso}" 
			        	th:value="${tipoR.id}"
			        	th:text="${tipoR.nombre_tipo_recurso}"
			  
 ></option>
			      </select>
			      </div>
						<div class="modal-footer">
							<input type="hidden" name="sbmName" value="sbmGuardarCuenta">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrarMdlGuardar">Cerrar</button>
							<input type="submit" id="btnGuardar" value="Guardar" class="btn btn-success" >
							<div class="alert alert-success" role="alert" id="respuestaGuardar"></div>
						</div>
					</form>
						
				</div>
			</div>
		</div>
						
	</div>
	
	<table class="table table-condensed" id="tblCuentasBD" style="text-align: center;">
					<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nombre</th>
							<th scope="col">Descripción</th>
							<th scope="col">Sinopsis</th>
							<th scope="col">Total del recurso</th>
							<th scope="col">Editar</th>
							<th scope="col">Eliminar</th>
						</tr>
						</thead>
					
					<tbody>
						
								<tr th:each="recursoList : ${recursoBib}">
									<td th:text="${recursoList.id}"></td>
									<td th:text="${recursoList.nombre_recurso_bib}"></td>
									<td th:text="${recursoList.descripcion_recurso_bib}"></td>
									<td th:text="${recursoList.sinopsis_recurso_bib}"></td>
									<td th:text="${recursoList.total_recurso_bib}"></td>
									
									<td><button type="button" class="btn btn-outline-warning" data-toggle="modal" th:attr="data-target='#mdlEditar_' + ${recursoList.id}">Editar</button>
									<input type="text" class="form-control" th:id="${recursoList.id}" th:name="${recursoList.id}" th:value="${recursoList.id}" required="false" hidden="true">  
									
																<div class="modal fade" th:id="'mdlEditar_' + ${recursoList.id}" th:name="'mdlEditar_' + ${recursoList.id}" tabindex="-1" role="dialog" aria-labelledby="mdlEditar" aria-hidden="true">
								  	<div class="modal-dialog" role="document">
								    	<div class="modal-content">
								      		<div class="modal-header">
								        		<h5 class="modal-title" th:id="'mdlEditar_' + ${recursoList.id}">Editar recurso Bibliotecario</h5>
								        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								        			<span aria-hidden="true">&times;</span>
								        		</button>
								     		</div>
								     		<form action="#" th:action="@{/addRecurso}" th:objects="*{RecursoBibliotecario}" th:method="post" enctype="multipart/form-data">
						<	<div class="form-group">
							
							<div class="picture-container">
													<div class="picture">
														<img src="#" th:src="@{/imgs/libro.jpg}"
															class="picture-src" id="wizardPicturePreview" title="" />
														
														<input type="file" id="wizard-picture" name="wizard-picture" th:fields="*{imagen_recurso_bib}"> 
													</div>
													<h6>Recurso</h6>
												</div>
												</div>
												<div class="modal-body">
							<div class="form-group">
						<input type="text" class="form-control" id="id" name="id" th:fields="*{id}" th:value="${recursoList.id}" required="true" hidden="true">  
						
							</div>
							<div class="form-group">
								<label for="nombreRecurso" class="col-form-label">Nombre del recurso bibliotecario</label>
								<input type="text" class="form-control" id="nombre_recurso_bib" name="nombre_recurso_bib" th:fields="*{nombre_recurso_bib}" th:value="${recursoList.nombre_recurso_bib}"> 
							</div>
							
								<div class="form-group">
								<label for="descripcionRecurso" class="col-form-label">Descripción del recurso</label>
								<textarea class="form-control" id="descripcion_recurso_bib" name="descripcion_recurso_bib" th:fields="*{descripcion_recurso_bib}" th:text="${recursoList.descripcion_recurso_bib}"> </textarea>
							</div>
							<div class="form-group">
								<label for="sinopsis" class="col-form-label">Sinopsis del recurso</label>
								<textarea class="form-control" id="sinopsis_recurso_bib" name="sinopsis_recurso_bib" th:fields="*{sinopsis_recurso_bib}" th:text="${recursoList.sinopsis_recurso_bib}"> </textarea>
							</div>
						</div>
						
							<div class="form-group">
							<label for="bib" class="col-form-label">biblioteca</label>
								<select id="bib" name="bib"  class="form-control" required="true" >
			        <option th:each="bib : ${bibliotecas}" 
			        	th:value="${bib.id}"
			        	th:text="${bib.nombre_biblioteca}"
			        
 ></option>
			      </select>
							</div>	
												<div class="form-group" th:if="${recursoList.digital_recurso_bib}">
							<label for="forRecurso" class="col-form-label">Es digital o fisico</label>
								<select id="forRecurso" name="forRecurso"  class="form-control" required="true" >
			         <option th:each="forRecurso : ${tipDF}" 
			        	th:value="${forRecurso.id}"
			        	th:text="${forRecurso.tipo}"
			         th:selected="${forRecurso.id}==1"
 ></option>			      </select>
							</div>
					<div class="form-group" th:if="${recursoList.fisico_recurso_bib}">
							<label for="forRecurso" class="col-form-label">Es digital o fisico</label>
								<select id="forRecurso" name="forRecurso"  class="form-control" required="true" >
			         <option th:each="forRecurso : ${tipDF}" 
			        	th:value="${forRecurso.id}"
			        	th:text="${forRecurso.tipo}"
			         th:selected="${forRecurso.id}==2"
 ></option>			      </select>
							</div>
							<div class="form-group">
								<label for="Total" class="col-form-label">cantidad </label>
								<input type="number" class="form-control" id="total_recurso_bib" name="total_recurso_bib" th:fields="*{total_recurso_bib}" th:value="${recursoList.total_recurso_bib}" min="1" step="1"  required="true"> 
								<span id="total_recurso_bib"></span>
							</div>
							
							<div class="form-group">
								  	<label for="inputState" class="col-sm-2 col-form-label">tipo de recurso</label>
			      <select id="tipoR" name="tipoR"  class="form-control" required="true" >
			        <option th:each="tipoR : ${TipoRecurso}" 
			        	th:value="${tipoR.id}"
			        	th:text="${tipoR.nombre_tipo_recurso}"
			  th:selected="${tipoR.id}==${recursoList.tipo_recurso.id}"
 ></option>
			      </select>
			      </div>
							
													<div class="modal-footer">
							<input type="hidden" name="sbmName" value="sbmGuardarCuenta">
							<button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrarMdlGuardar">Cerrar</button>
							<input type="submit" id="btnGuardar" value="Guardar" class="btn btn-success" >
							<div class="alert alert-success" role="alert" id="respuestaGuardar"></div>
						</div>
					</form>
								    	</div>
								  	</div>
								</div>
								
									</td>
									
									<td>
									
									<button type="button" class="btn btn-outline-danger" data-toggle="modal" th:attr="data-target='#mdlEliminar_' + ${recursoList.id}" id="btnEliminarCuenta">Eliminar</button>
									<input type="text" class="form-control" th:id="${recursoList.id}" th:name="${recursoList.id}" th:value="${recursoList.id}" required="false" hidden="true">  
							
							
							
							
							
							<div class="modal fade" th:id="'mdlEliminar_' + ${recursoList.id}" th:name="'mdlEliminar_' + ${recursoList.id}" tabindex="-1" role="dialog" aria-labelledby="mdlEliminar" aria-hidden="true">
								  	<div class="modal-dialog" role="document">
								    	<div class="modal-content">
								      		<div class="modal-header">
								        		<h5 class="modal-title" th:id="'mdlEliminar_' + ${recursoList.id}">Eliminar Cuenta</h5>
								        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								        			<span aria-hidden="true">&times;</span>
								        		</button>
								     		</div>
								     		<form action="#" th:action="@{/removeRecurso}"  th:method="post" enctype="multipart/form-data">
								      		<div class="modal-body">
								      		
								        		<input type="text" th:value="${recursoList.id}" class="form-control" id="dato" name="dato"  required="true" > 
								      		</div>
								      		<div class="modal-footer">
								        		<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
								        		 <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-success" >
								      		</div>
								      		</form>
								    	</div>
								  	</div>
								</div>
								
									</td>
									
			
								</tr>
		
								
			
						</tbody>
						</table>
	
	
	
	
	<div>
	<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
		<script src="#" th:src="@{/js/fontawesome.min.js}"></script>
		<script src="#" th:src="@{/js/regular.min.js}"></script>
		<script src="#" th:src="@{/js/solid.min.js}"></script>
		<script src="#" th:src="@{/js/jquery.scrollex.min.js}"></script>
		<script src="#" th:src="@{/js/skel.min.js}"></script>
		<script src="#" th:src="@{/js/util.js}"></script>
		<script src="#" th:src="@{/js/main.js}"></script>
		<script src="#" th:src="@{/js/deshabilitar.js}"></script>
	
	
	</div>
</body>
</html>